html {
    background: #15202b;
}
header {
    margin-bottom: 30px;
    color: #ff6000;
    text-align: center;
    text-transform: uppercase;
    font-size: 40pt;
}
a.header {
    color: #ff6000;
    text-decoration-line: none;
}
a.header:visited:link  {
    color: #ff6000;
}
a.header:link  {
    color: #ff6000;
}
a.header:hover {
    color: #c3672a;
}
a.header:active {
    color: #c3672a;
}
a.image {
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    text-decoration-style: solid;
    font-size: 12px;
    margin: 0 0 0 0;
    color: #ff6000;
}
a.links {
    font-family: "Trebuchet MS", sans-serif;
    text-decoration-line: none;
    color: #ff6000;
    font-size: 15pt;
    margin-left: 10px;
}
a.boardlist {
    font-family: "Trebuchet MS", sans-serif;
    margin: 3px 0 0 13px;
    text-decoration: none;
    display: flex;
    font-size: 30px;
    color: #ff6000;
}
a.boardlist:visited:link  {
    color: #ff6000;
}
a.boardlist:hover:active {
    color: #c3672a;
}
b.sage {
    color: red;
}
span.content {
    font-family: "Trebuchet MS", sans-serif;
    color: #ccc;
    font-size: 15px;
    margin: 17px;
    box-sizing:border-box;
    display:block
}
form.add {
    text-align: center;
}
p.thread_title {
    margin: 0 0 0 0;
    color: #6995c5;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
}
p.namedate {
    margin: 0 0 0 0;
    line-height:17.55px;
    font-family: "Trebuchet MS", sans-serif;
    color: #5d5d5d;
    font-size: 13.5px;
}
p.img_size {
    font-family: "Trebuchet MS", sans-serif;
    margin: 0 0 0 0;
    font-size: 12px;
    text-decoration-style: solid;
    text-decoration-color: #ff6000;
    color: #5d5d5d;
}
div.thread {
    background-color: #192734;
    border-radius: 3px;
    box-sizing:border-box;
    margin: 0 0 10px 20px;
    max-width:868px;
    padding: 0 1px 3px 3px;
    border: solid #37444c 1px;
}
div.post {
    background-color: #192734;
    border-radius: 3px;
    box-sizing:border-box;
    margin: 0 0 10px 20px;
    max-width:868px;
    padding: 0 1px 3px 3px;
    border: solid #37444c 1px;
}
div.boardlist {
    border-radius: 4px;
    color: #ff6000;
    font-family:"Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin: 30px 0;
    padding: 0 0 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-color: #38444d;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    background-color: #192734;
}
form.newthread {
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    font-family: "Trebuchet MS", sans-serif;
    color: #757575;
}
span.sage {
    color: red;
    font-weight: bold;
}
button.post {
    padding: 2px 6px;
    background-color: #192734;
    cursor: pointer;
    border: 1px solid #38444d;
    transition: background-color 0.2s ease;
    color: #ccc;
}
textarea.newthread {
    background-color: #192734;
    color: #ccc;
}
